// COLORS
$black: #1f1f1f;
$white: #ffffff;

$light-shadow: 0px 0px 12px 0px rgba(141, 141, 141, 0.14);

// FONT
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$primary-font:'Roboto', sans-serif ;

//WIDTH
$standard-page-width: 80%;

// FONT SIZES

$xl:30px;
$l: 20px; 
$m: 15px;
$s: 12px;


